.font1{
    font-family: "Andika", sans-serif;
}
body{
    background-color: var(--White);
    overflow-x: hidden;
}

h1,h2,h3,p {
    font-family: "Caveat", cursive;
}


:root{
    --Black: rgb(26,26,26);
    --White: rgb(250,250,250);
    --Orange: #E04826;
    --OrangeHover: #b33a1f;
    --OrangeShadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 73, 35, 0.829);
}
.bg-black{
    background: var(--Black);
}
.bg_white{
    background: var(--White);
}
.bg-orange{
    background: var(--Orange);
}

.txt-black{
    color: var(--Black);
}
.txt-white{
    color: var(--White);
}

.txt-orange{
    color: var(--Orange);
}

.switch-mode{
    background-color: var(--White);
    color: var(--Black);
    transition: 2s;
}
.fade-in {
    -webkit-animation: focus-in-expand-fwd 0.8s ease-in-out;
            animation: focus-in-expand-fwd 0.8s ease-in-out;
}
 @-webkit-keyframes focus-in-expand-fwd {
  0% {
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
.btncustico{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  
}

/* NAVBAR */
.nav-custom{
    background-color: var(--White);
    min-height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}
.nav-logo{
    height: 52px;
}
.nav-blur{
    backdrop-filter: blur(5px) saturate(0.8);
}
.nav-link:focus, .nav-link:hover {
    color: var(--Black);
  }
/* SearchBar */
.search-bar{
    border-color: var(--Orange);
    color: var(--Black);
    border: 3px solid var(--Orange);
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 20rem;
    padding-left: 10px;
}
.search-button{
    background-color: var(--White);
    border:unset;  
    padding: 5px 10px 5px 10px;
    z-index: 1;
    position: relative;
    transition: all 200ms;
    overflow: hidden;
}
.search-button::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    border-radius: 0 10px 10px 0;
    background-color: var(--Orange);
    z-index: -1;
    transition: all 200ms;
}

.search-button:hover::after{
    width: 100%;
}


/* Header */
header{
    height: 100vh;
    margin-top: 90px;
    padding-top: 50px;
    background: linear-gradient(var(--White), rgba(250,250,250, 0.0)), url(./assets/main-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-title{
    color: var(--Orange);
    font-size: 70px;
    text-decoration: underline;
}
.img_fluid{
    width: 70%;
}
/* Main */
.p-intro{
    font-size: 30px;
}
.img_mainCustom{
    width: 70%;
}
.p_feedback{
    font-size: 50px;
    text-decoration: underline;
    color: var(--Orange);
}
.h4_feedback{
    font-size: 50px;
    color: var(--Orange);
}

/* CSS SWIPER */
.swiper {
    width: 100%;
    height: 350px;
    background: #000;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    background-image: url(./assets/review.jpg);
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 21px;
    max-width: 400px;
    line-height: 1.3;
  }
  .swiper-button_custom{
    color: var(--Orange);
    font-weight: bolder;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--Orange);
  }
  /* CSS RECENSIONI */
  .formtxt_custom{
    font-family: "Andika", sans-serif;
    font-size: 1.5rem;
    color: var(--Black);
  }
  .review_custom{
    height: 100px;
  }
  .form-control{
    border-color: var(--Black);
  }
  .form-control:focus {
    border-color: var(--Orange);
    box-shadow: var(--OrangeShadow);
  }
  /* FILTRI */
  .accordion-button:focus {
    box-shadow: var(--OrangeShadow);
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--Orange);
    color: var(--Black);
  }
  .form-check-input:checked {
    background-color: var(--Orange);
  border-color: var(--Orange);
  }
  .form-check-input:checked[type="radio"] {
    box-shadow: var(--OrangeShadow);
  }
  .range-cust::-webkit-slider-thumb {
    background: var(--Orange);
  }
  .range-cust::-webkit-slider-thumb:active {
    box-shadow: var(--OrangeShadow);
    background: var(--Orange);
  }
  .range-cust::-moz-range-thumb {
    background: var(--Orange);
  }
  .range-cust::-moz-range-thumb:active {
    box-shadow: var(--OrangeShadow);
    background: var(--Orange);
  }
  .range-cust::-ms-thumb {
    background: var(--Orange);
  }
  .range-cust::-ms-thumb:active {
    box-shadow: var(--OrangeShadow);
    background: var(--Orange);
  }
  /* CARD */
  .card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: var(--Orange);
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
    color: #fff;
    background: var(--Orange);
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 13px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: var(--Orange);
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: var(--OrangeHover);
    color: #fff;

}


@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}
